.user-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F3F5F4;
  width: 100%;
  flex-direction: column;
  padding-bottom: 200px;
  
  .user-page__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 1.2;
    margin: 200px 0px 80px 0px;
  }
  .user-page__grid {
    display: flex;
    max-width: 1460px;
    flex-wrap: wrap;
    gap: 50px 70px;
    justify-content: center;
    
    .not-found-users {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
      width: 558px;
      padding: 35px 35px;
      background-color: #B15757;
      color: #FFFFFF;
      font-weight: 800;
      font-size: 26px;
      line-height: 1.2;
      border-radius: 20px;
    }
  }
}