{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-curly-spacing"],
  "curlySpacing": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
