@font-face {
  font-family: 'Nunito Sans';
  src: url('./fonts/ninito-sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('./fonts/ninito-sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Next Art';
  src: url('./fonts/next-art/NEXT-ART-Bold.otf') format('opentype');
  font-style: normal;
  font-weight: 900;
}