/* You can add global styles to this file, and also import other style files */
@use './fonts.scss';
@use './normalize.scss';

* {
  font-family: 'Nunito Sans';
  margin: 0px;
  padding: 0px;
}

:root {
  --white-color: #FDFDFD;
}

.container {
  display: block;
  width: 1180px;
}

.fs-18 {
  font-size: 18px;
}

.display-wrap {
  display: flex;
  flex-wrap: wrap;
}

.heigth-52 {
  height: 52px;
}

.width-270 {
  width: 270px;
}

.font-family-next {
  font-family: 'Next Art';
}