@use '../assets/fonts';

// html, body {
//   margin: 0;
//   padding: 0;
//   width: 100%;
//   height: 100%;
// }

* {
  font-family: 'Nunito Sans';
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black-color: #000000;
  --white-color: #FFFFFF;
  --secondary-color: #1A3E3E;
}


// .container {
//   display: block;
//   width: 1180px;
// }

//root цвет глобальный, локальный...
