<header class="header">
  <div class="main-header">
    <div class="container-header">
      <div class="logo-header">
        <img src="/images/logo-mountain.svg" alt="">
        <span class="title-logo">{{companyLog}}</span>
      </div>

      <div class="menu-container">
        <nav class="nav-head">
          <a href="#" id="chapter-home">Главная</a>
          <a href="#" id="chapter-guide">Про гида</a>
          <a href="#" id="chapter-tour-program">Программа тура</a>
          <a href="#" id="chapter-price">Стоимость</a>
          <a href="#" id="chapter-blog">Блог</a>
          <a href="#" id="chapter-contacts">Контакты</a>
          <button id="btn-consultation">Консультация</button>
        </nav>
      </div>
    </div>
  </div>
  <h1 class="main-title">
    Насладись прогулкой в горах <br>c командой единомышлеников
  </h1>
  <div class="design-tour">
    <form class="tour-menu">
      <div class="menu-form-block">
        <select class="portal-block">
          <option value="">Локация для тура</option>
        </select>
        <span class="clue">выберите из списка</span>
      </div>
      <div class="menu-form-block">
        <select class="portal-block">
          <option value="">Дата похода </option>
        </select>
        <span class="clue">укажите дату</span>
      </div>
      <div class="menu-form-block">
        <select class="portal-block">
          <option value="">Участники</option>
        </select>
        <span class="clue">выберите из списка</span>
      </div>
      <button class="search-program-btn">Найти программу</button>
    </form>
  </div>
</header>

<div>fff</div>
