.bg-mountains {
  background-image: url('/images/bg-mountains.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%
}

.header {
  width: 100%;
  height: 985px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  .main-header {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    height: 72px;

    .company-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .logo-name {
        font-family: 'Next Art-Regular';
        font-size: 18px;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: var(--white-color);
      }
    }
    
    &-info {
      display: flex;
      align-items: center;
      gap: 49px;
    }

    .header-nav {
      display: flex;
      gap: 24px;
      line-height: 100%;
      font-style: SemiBold;
    }

    a {
      color: var(--white-color);
      text-decoration: none;
    }

    .consultation-btn {
      color: var(--white-color);
      width: 157px;
      height: 44px;
      background-color: #1A3E3E;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      line-height: 20px;
    }
  }

  .sub-header {
    display: flex;
    flex-direction: column;
    gap: 41px;
    margin-bottom: 82px;

    .subtitle-container {
      width: 1080px;
      height: 150px;

      .subtitle {
        color: var(--white-color);
        font-family: 'Next Art-Bold';
        font-size: 50px;
        line-height: 150%;
      }
    }

    .search-panel {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 161px;
      gap: 24px;
      padding: 10px;
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(12px);
      border-radius: 16px;
      border: 1px solid rgba(255, 255, 255, 0.25);

      .field {
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: #fff;
      }
      
      .field input {
        background: transparent;
        width: 245px;
        height: 30px;
        border: 1px solid #E1E3E4;
        border-radius: 10px;
        padding: 12px;
        color: #fff;
      }

      .field select {
        background: transparent;
        width: 270px;
        height: 55px;
        border: 1px solid #E1E3E4;
        border-radius: 10px;
        padding: 12px;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
      }

      select option {
        text-transform: none;
      }
      
      .field span {
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        margin-left: 7px;
      }

      input::placeholder {
        color: var(--white-color);
        font-size: 16px;
        font-weight: 700;
      }

      .search-program-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 213px;
        height: 52px;
        background-color: #fff;
        align-items: center;
        margin-bottom: 25px;
        border: 1px solid #fff;
        border-radius: 4px;
        line-height: 20px;
        cursor: pointer;
      }

      .icon-calendar {
        position: absolute;
        pointer-events: none;
        width: 20px;
        height: 20px;
        background: url('/images/calendar-icon.svg');
        background-repeat: no-repeat;
        top: 37%;
        left: 48%;
        cursor: pointer;
      }
    }
  }
}