// :root {
//   --black-color: #000000;
//   --white-color: #FFFFFF;
//   --secondary-color: #1A3E3E;
// }

.header {
  width: 100%;
  height: calc(100vh);
  background-image: url('/images/background-mountains.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white-color);
  padding-top: 16px;
  font-weight: 600;
  // font-size: 18px;
}

// global

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.container {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.button {
  font-weight: 600;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;

  &--green {
    color: var(--white-color);
    background-color: var(--secondary-color);
  }
}

///

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  // padding-top: 16px;
}

.navigation__logo-image {
  width: 137px;
  height: auto;
}

.navigation {
  // color: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 49px;

  &__menu {
    display: flex;
    gap: 24px;
  }

  // &__item {
  //   color: inherit;
  // }
}

//hero

.hero__wrapper {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: flex-end;
}

.hero__block {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  &-title p {
    text-transform: uppercase;
    color: var(--white-color);
    font-family: 'Next Art';
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 2%;
  }
}

.hero__filters--wrapper {
  width: 100%;
  height: 161px;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 40px 43px;
  // gap: 150px;
}

.hero__filters {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}

.hero__filters-item {
  display: flex;
  // justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 14px 16px;
  width: 270px;
  height: 51px;
  border: 1px solid #e1e3e4;
  border-radius: 8px;
}

.hero__filters-title {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  width: 100%;

  &::after {
    content: '';
    display: inline-block;
    // margin-left: 70px;
    margin-left: auto;
    // margin-left: auto;
    color: #fdfdfd;
    width: 20px;
    height: 20px;
    background-image: url('/images/svg/arrow-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    // vertical-align: middle;
  }
}

.hero__button {
  width: 213px;
  height: 51px;
  border-radius: 9px;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.hero__filters__description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 170px;
  align-items: center;
  text-align: center;

  span {
    // padding-top: 20px;
    // color: green;
    // margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    // line-height: 80%;
    letter-spacing: 0px;
  }
}

.hero__filters__description__item {
  padding-top: 8px;
}

// .hero__filters {
//   width: 100%;
//   height: 160px;
//   display: grid;
//   // justify-content: space-between;
//   grid-template-columns: repeat(4, 1fr);
//   align-items: start;
//   gap: 24px;

//   padding: 40px 43px;

//   background-color: rgba(255, 255, 255, 0.2);
//   border-radius: 10px;
// }

// /* Filter item */

// .hero__filters-item {
//   display: flex;
//   flex-direction: column;
//   gap: 8px;
// }

// /* Top control (input-like) */

// .hero__filters-title {
//   height: 48px;
//   padding: 12px 16px;

//   display: flex;
//   align-items: center;

//   border: 1px solid #e1e3e4;
//   border-radius: 10px;

//   font-size: 16px;
//   font-weight: 600;
//   color: var(--white-color);
// }

// /* Description */

// .hero__filters-description {
//   height: 16px;
//   font-size: 14px;
//   line-height: 16px;

//   color: var(--white-color);
//   opacity: 0.8;
// }

// /* =========================
//    Button
// ========================= */

// .hero__button__container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .hero__button {
//   display: flex;
//   text-align: center;
//   align-items: center;
//   justify-content: center;
//   width: 213px;
//   height: 48px;

//   // align-self: start;

//   padding: 0 32px;

//   border: none;
//   border-radius: 10px;

//   font-size: 16px;
//   font-weight: 700;

//   background-color: var(--white-color);
//   color: var(--black-color);

//   cursor: pointer;
// }

// .hero__filters {
//   width: 100%;
//   height: 161px;
//   // padding: 42px 40px;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   align-items: center;
//   // gap: 24px;
//   max-height: 160px;
//   background-color: rgba(255, 255, 255, 0.2);
//   border-radius: 10px;
// }

// .hero__filters__item {
//   // width: calc(270px);
//   // border: 1px solid #e1e3e4;
//   // border-radius: 10px;
//   // padding: 14px 16px;
//   // color: var(--white-color);
// }

// .hero__filters__item {
//   display: flex;
//   flex-direction: column;
//   // width: 270px;
//   // width: 100%;
//   gap: 24px
// }

// .hero__filters__item__title {
//   // max-width: calc(270px);
//   // height: 52px;
//   width: calc(270px - 16px * 2);
//   border: 1px solid #e1e3e4;
//   border-radius: 10px;
//   padding: 14px 16px;
//   color: var(--white-color);
//   font-weight: 700;

// }

// .hero__filters__item__description {
//   font-size: 14px;
//   font-weight: 400;
//   // padding-left: 14px;
// }

// .hero__button {
//   padding: 16px 36px;
//   border: none;
//   border-radius: 9px;
//   color: var(--black-color);
//   font-weight: 700;
// }

// .hero__filters__item__button {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
// }
