@font-face {
  font-display: swap;
  font-family: 'Nunito-Sans';
  src: url('./NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 200 1000;
  font-stretch: 75% 125%;
}

@font-face {
  font-display: swap;
  font-family: 'Nunito-Sans';
  src: url('./NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype'); 
  font-style: italic;
  font-weight: 200 1000;
  font-stretch: 75% 125%;
}