<app-user-create (create)="onCreateUser($event)"></app-user-create>
<app-users-filter (filter)="onFilterChange($event)"></app-users-filter>
<h1 class="users-title-section">Список пользователей</h1>
<div class="users-container container">
  @for(user of (filteredUsers$ | async); track user.id) {
    <app-user-card [user]="user" (delete)="onDeleteUser($event)"></app-user-card>
  } @empty {
    <div>
      <p class="error-massage">
        Нет пользователей для отображения
      </p>
    </div>
  }