@font-face {
  font-family: 'Nunito Sans';
  src: url('./fonts/nunito-sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Next Art-Bold';
  src: url('./fonts/nunito-sans/next-art/NEXT\ ART_Bold.otf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Next Art-Regular';
  src: url('./fonts/nunito-sans/next-art/NEXT\ ART_Regular.otf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}