@use './fonts';
@use './normalize';

* {
  font-family: 'Nunito Sans';
}

.container {
  display: block;
  width: 1180px;
}

:root {
  --primary-color: #18121E;
  --secondary-color: #F2BE22;
  --white-color: #FDFDFD;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}